<script src="location-details.page.ts"></script>
<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
      </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="onNewLocation()">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>
      Location Details
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-list>
     <ion-item>
       <ion-label>Title:<strong>{{currentPlace.title}}</strong></ion-label>
     </ion-item>
     <ion-item>
        <ion-label>City:<strong>{{currentPlace.city}}</strong></ion-label>
      </ion-item>
      <ion-item>
          <ion-label>Country:<strong>{{currentPlace.country}}</strong></ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Keywords:<strong>{{currentPlace.keyword}}</strong></ion-label>
          </ion-item>
    </ion-list>
  </ion-content>
